<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Lab — Flask, Part 2</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/"
            >Home </a
          >
          <a class="nav-item nav-link" href="/page2">Page 2</a>
          <a class="nav-item nav-link" href="/page3">Page 3</a>
        </div>
      </div>
    </nav>
    <!-- Your page content -->
    <div class="container">
      <h1>Welcome to my page, everybody</h1>
      <p>Have a nice day!</p>

      <div class="text-center">
        <img src="/static/images/penguin.jpg" class="rounded w-50" />
      </div>
    </div>
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
  </body>
</html>
